robotframework == v4.0.3
tzlocal == 4.0.1

robotframework-jsonlibrary == 0.3.1
robotframework-requests == 0.9.1
robotframework-databaselibrary == 1.2.4
robotframework-mockserver == 0.0.7
RESTinstance == 1.1.0

docker == 4.0.2
deepdiff == 4.3.2
psycopg2-binary == 2.8.6
python-benedict == 0.24.2

pyjwt == 2.4.0
# git+https://github.com/adiralashiva8/robotframework-metrics@v3.1.4
