spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ehrbase
    username: ehrbase
    password: ehrbase
    hikari:
      maximum-pool-size: 50
      max-lifetime: 1800000
      minimum-idle: 10

security:
  authType: NONE


server:
  port: 8080
  # Optional custom server nodename
  # nodename: 'local.test.org'

  aqlConfig:
    # if true, WHERE clause is using jsquery, false uses SQL only
    useJsQuery: false
    # ignore unbounded item in path starting with one of
    ignoreIterativeNodeList: 'events,activities,content'
    # how many embedded jsonb_array_elements(..) are acceptable? Recommended == 1
    iterationScanDepth: 1

  servlet:
    context-path: /ehrbase
