# Copyright (c) 2019 Vitasystems GmbH and Jake Smolka (Hannover Medical School).
#
# This file is part of Project EHRbase
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# ------------------------------------------------------------------------------
# General How-to:
#
# You can set all config values here or via an corresponding environment variable which is named as the property you
# want to set. Replace camel case (aB) as all upper case (AB), dashes (-) and low dashes (_) just get ignored adn words
# will be in one word. Each nesting step of properties will be separated by low dash in environment variable name.
# E.g. if you want to allow the delete all endpoints in the admin api set an environment variable like this:
# ADMINAPI_ALLOWDELETEALL=true
#
# See https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-external-config-relaxed-binding-from-environment-variables
# for official documentation on this feature.

spring:
  application:
    name: ehrbase-client
  security:
    oauth2:
      resourceserver:
        jwt:
          #issuer-uri: http://localhost:8081/auth/realms/ehrbase  # Example issuer URI - or set via env var
          issuer-uri:
  profiles:
    active: local
  datasource:
    driver-class-name: org.postgresql.Driver

  flyway:
    schemas: ehr

security:
  authType: BASIC
  authUser: ehrbase-user
  authPassword: SuperSecretPassword
  authAdminUser: ehrbase-admin
  authAdminPassword: EvenMoreSecretPassword

cache:
  config: '/ehcache.xml'
  enabled: true

system:
  allow-template-overwrite: false

admin-api:
  active: false
  allowDeleteAll: false

logging:
  level:
    org.springframework: INFO
    de.vitasystems: TRACE
    com.ethercis: DEBUG
    org.jooq: INFO
    net.sf.ehcache: TRACE


terminology-server:
  tsUrl: 'https://r4.ontoserver.csiro.au/fhir/'
  codePath: '$["expansion"]["contains"][*]["code"]'
  systemPath: '$["expansion"]["contains"][*]["system"]'
  displayPath: '$["expansion"]["contains"][*]["display"]'
