name: Build & Deploy Docker Image (latest)

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '**/*.md'
      - 'doc/**'
      - 'tests/**'

jobs:
  build-docker:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push (AMD64)
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ehrbase/ehrbase:latest-amd64
      -
        name: Build and push (ARM64)
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: ehrbase/ehrbase:latest-arm64

      -
        name: Create and push MultiArch Manifest
        run: |
          docker buildx imagetools create \
                 ehrbase/ehrbase:latest-arm64 \
                 ehrbase/ehrbase:latest-amd64 \
                 -t ehrbase/ehrbase:latest
          docker pull ehrbase/ehrbase:latest
      #docker manifest inspect currently fails (the multiarch manifest is pushed successfully though)
      #-
      #  name: Inspect MultiArch Manifest
      #  run:  docker manifest inspect ehrbase/ehrbase:latest





# STEPS FOR LOCAL REPRODUCTION
# ============================
# provides build runtimes for addition platforms
# > docker run --privileged --rm tonistiigi/binfmt --install all
#
# creates a 'docker-container' driver
# which allows building for multiple platforms
# > docker buildx create --use --name mybuild
#
# shows build Driver and available target platforms
# > docker buildx inspect mybuild
#
# builds image for specific platform
# and pushes it to docker-hub
# > docker buildx build --push --platform=linux/arm64 -t ehrbase/ehrbase:next-arm .
# > docker buildx build --push --platform=linux/amd64 -t ehrbase/ehrbase:next-amd .
#
# creates multiarch manifest from given images
# and pushes it to docker-hub
# > docker buildx imagetools create ehrbase/ehrbase:next-arm ehrbase/ehrbase:next-amd -t ehrbase/ehrbase:next
#
# inspects created mulitarch image
# > docker manifest inspect ehrbase/ehrbase:next
