name: Build & Deploy Docker Image (version-tag)

on:
  push:
    branches:
      - 'release/**'
    paths-ignore:
      - '**/*.md'
      - 'doc/**'
      - 'tests/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17' ]

    services:
      ehrbase-db:
        image: ehrbase/ehrbase-postgres:13.4
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          EHRBASE_USER: ehrbase
          EHRBASE_PASSWORD: ehrbase

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B verify