name: Build & Deploy Docker Image (version-tag)

on:
  push:
    branches:
      - 'release/**'
    paths-ignore:
      - '**/*.md'
      - 'doc/**'
      - 'tests/**'

jobs:
  build-docker:
    runs-on: ubuntu-20.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Create TAG ENV from version of release Branch
        run: |
          echo $GITHUB_REF
          echo "${GITHUB_REF#refs/heads/}"
          BRANCH=$(echo "${GITHUB_REF#refs/heads/}")
          TAG="$(echo $BRANCH | awk -F'/v' '{print $2;}')"
          echo $TAG
          echo "TAG=$TAG" >> $GITHUB_ENV
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push (AMD64)
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: ehrbase/ehrbase:tag-amd64
      -
        name: Build and push (ARM64)
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/arm64
          push: true
          tags: ehrbase/ehrbase:tag-arm64
      -
        name: Create and push MultiArch Manifest
        run: |
          #BRANCH=$(echo "${GITHUB_REF#refs/heads/}")
          #TAG="$(echo $BRANCH | awk -F'/v' '{print $2;}')"
          docker buildx imagetools create \
                 ehrbase/ehrbase:tag-arm64 \
                 ehrbase/ehrbase:tag-amd64 \
                 -t ehrbase/ehrbase:${{ env.TAG }}
          docker pull ehrbase/ehrbase:${{ env.TAG }}
      #docker manifest inspect currently fails (the multiarch manifest is pushed successfully though)
      #-
      #  name: Inspect MultiArch Manifest
      #  run:  docker manifest inspect ehrbase/ehrbase:${{ env.TAG }}





# STEPS FOR LOCAL REPRODUCTION
# ============================
# provides build runtimes for addition platforms
# > docker run --privileged --rm tonistiigi/binfmt --install all
#
# creates a 'docker-container' driver
# which allows building for multiple platforms
# > docker buildx create --use --name mybuild
#
# shows build Driver and available target platforms
# > docker buildx inspect mybuild
#
# builds image for specific platform
# and pushes it to docker-hub
# > docker buildx build --push --platform=linux/arm64 -t ehrbase/ehrbase:next-arm .
# > docker buildx build --push --platform=linux/amd64 -t ehrbase/ehrbase:next-amd .
#
# creates multiarch manifest from given images
# and pushes it to docker-hub
# > docker buildx imagetools create ehrbase/ehrbase:next-arm ehrbase/ehrbase:next-amd -t ehrbase/ehrbase:next
#
# inspects created mulitarch image
# > docker manifest inspect ehrbase/ehrbase:next
